/*
 * fonts.css
 * SAM
 *
 * Created by Arjen Schipmolder on February 27, 2012.
 * Copyright 2012, Packshot Ltd All rights reserved.
 */

	@font-face {
		font-family: HelveticaNeueLTProUltLt;
/*		font-weight:normal;*/
		src: url('../../Resources/Fonts/HelveticaNeue-UltraLight.otf'),
		 	 url('../../Resources/Fonts/HelveticaNeue-UltraLight.ttf'),
		 	 url('../../Resources/Fonts/HelveticaNeue-UltraLight.eot'),
			 url('../../Resources/Fonts/HelveticaNeue-UltraLight.afm');
	}
	
	@font-face {
		font-family: 'BodoniURW-LigObl';
		src: url('../../Resources/webfonts/1C2E7C_0_0.eot');
		src: url('../../Resources/webfonts/1C2E7C_0_0.eot?#iefix') format('embedded-opentype'), url('../../Resources/webfonts/1C2E7C_0_0.woff') format('woff'), url('../../Resources/webfonts/1C2E7C_0_0.ttf') format('truetype');
	}

	.div {
		-webkit-font-smoothing: subpixel-antialiased;
	}